In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('190516_m2b_marine_biota.csv', sep=';', encoding = "ISO-8859-1", index_col='id')

In [3]:
df.head()

,country,location,fao_region,lat,lon,geog_prec,kingdom,class,order_b,family,...,mea_ug_kg_derived,min_ug_kg,max_ug_kg,sd_ug_kg,se_ug_kg,sample_size,samp_date,remarks,ref_source,ref_num
id,,,,,,,,,,,,,,,,,,,,,
1,IL,Atilt,37.3.2,32.801128,34.161072,A,Animalia,Malacostraca,Decapoda,Acanthephyridae,...,98.0,-9999.0,1896.0,36.0,-9999.0,-9999.0,1995-01-01,1988-1995\\control,"Kress et al., 1998",284
2,IL,Hadera,37.3.2,32.634749,34.111633,2,Animalia,Malacostraca,Decapoda,Acanthephyridae,...,114.0,-9999.0,1443.0,29.0,-9999.0,-9999.0,1995-01-01,1988-1995\\40 km offshore from Haifa-receives ...,"Kress et al., 1998",284
3,IL,Haifa,37.3.2,32.879587,34.337769,2,Animalia,Malacostraca,Decapoda,Acanthephyridae,...,59.0,-9999.0,1651.0,17.0,-9999.0,-9999.0,1995-01-01,1988-1995\\40 km offshore from Haifa-receives ...,"Kress et al., 1998",284
4,IL,Haifa Bay,37.3.2,32.837910,35.040613,2,Animalia,Bivalvia,Veneroida,Cardiidae,...,31.0,92.0,276.0,-9999.0,-9999.0,-9999.0,1980-01-01,1980-1982,"Hornung et al., 1984b",256
5,IL,Haifa Bay,37.3.2,32.841465,35.036620,2,Animalia,Bivalvia,Veneroida,Cardiidae,...,22.0,117.0,145.0,-9999.0,-9999.0,-9999.0,1980-01-01,1980-1982,"Hornung et al., 1984b",256

In [4]:
print('Columns in dataframe:')
for idx, col in enumerate(df.columns):
    print(idx+1, col)
print('Dataframe length:', len(df))

Columns in dataframe:
1 country
2 location
3 fao_region
4 lat
5 lon
6 geog_prec
7 kingdom
8 class
9 order_b
10 family
11 spec_nam_s
12 spec_nam_c
13 spec_code
14 mar_habit
15 troph_lev
16 troph_lev_r
17 depth_m
18 lenght_cm
19 weight_g
20 age_y
21 sex
22 tissue_cod
23 hg_species
24 ref_tiss_d_w
25 mea_ug_kg_orig
26 ref_tiss_ww
27 mea_ug_kg_derived
28 min_ug_kg
29 max_ug_kg
30 sd_ug_kg
31 se_ug_kg
32 sample_size
33 samp_date
34 remarks
35 ref_source
36 ref_num
Dataframe length: 24465

In [5]:
df['samp_date'] = pd.to_datetime(df['samp_date'], format='%Y-%M-%d')

In [6]:
print(len(df['samp_date'][df['samp_date'] > '2000-01-01']))

4795

In [7]:
updated_df = df[df['samp_date'] > '2000-01-01']

In [8]:
updated_df.head()

,country,location,fao_region,lat,lon,geog_prec,kingdom,class,order_b,family,...,mea_ug_kg_derived,min_ug_kg,max_ug_kg,sd_ug_kg,se_ug_kg,sample_size,samp_date,remarks,ref_source,ref_num
id,,,,,,,,,,,,,,,,,,,,,
75,FR,Gulf of Lion,37.1.2,43.109118,3.693405,2,Animalia,Cephalopoda,Myopsida,Loliginidae,...,17.0,-9999.0,-9999.0,110.0,-9999.0,-9999.0,2010-01-01 00:01:00,Orig.: <10 cm,"Cossa et al., 2012",149
76,FR,Gulf of Lion,37.1.2,43.109118,3.693405,2,Animalia,Cephalopoda,Myopsida,Loliginidae,...,18.0,-9999.0,-9999.0,100.0,-9999.0,-9999.0,2010-01-01 00:01:00,Orig.: <10 cm,"Cossa et al., 2012",149
80,FR,Gulf of Lion,37.1.2,42.780537,4.352197,2,Animalia,Malacostraca,Decapoda,Alpheidae,...,10.0,-9999.0,-9999.0,90.0,-9999.0,-9999.0,2010-01-01 00:01:00,NaN,"Cossa et al., 2012",149
81,FR,Gulf of Lion,37.1.2,42.780537,4.352197,2,Animalia,Malacostraca,Decapoda,Alpheidae,...,15.0,-9999.0,-9999.0,120.0,-9999.0,-9999.0,2010-01-01 00:01:00,NaN,"Cossa et al., 2012",149
162,IT,Lesina Lagoon,37.2.1,41.883963,15.439161,3,Animalia,Actinopterygii,Anguilliformes,Anguillidae,...,180.0,130.0,240.0,40.0,-9999.0,-9999.0,2005-01-01 00:01:00,NaN,"Storelli et al., 2007a",473

In [9]:
ndf = updated_df[['lat', 'lon', 'mea_ug_kg_orig']]

In [10]:
ndf.head()

           lat        lon  mea_ug_kg_orig
id
75   43.109118   3.693405           330.0
76   43.109118   3.693405           350.0
80   42.780537   4.352197           170.0
81   42.780537   4.352197           260.0
162  41.883963  15.439161           180.0

In [11]:
ndf.to_csv('prepared_data_mercury_concentrations.csv', encoding='utf-8', sep=',')